body {
    margin: 0;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas:
        "header header header"
        "nav content sidebar"
        "footer footer footer";
    height: 100vh;
    gap: 5px;
    background-color: #083c74;
}

header {
    grid-area: header;
    background: #006eff;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

nav {
    grid-area: nav;
    background: #0062ff;
    color: white;
    padding: 10px;
    font-weight: bold;
}

main {
    grid-area: content;
    background: #008cff;
    color: white;
    padding: 10px;
    font-weight: bold;
}

aside {
    grid-area: sidebar;
    background: #0062ff;
    color: white;
    padding: 10px;
    font-weight: bold;
}

footer {
    grid-area: footer;
    background: #4585d9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
}
